.random{
    .canvasContainer{
        border: 1px solid steelblue;
        .canvas{
            width: 1200px;
            height: 700px;
        }
    }
    .btn {
        margin: 20px 0;
    }
    
}